<!DOCTYPE html>
<html lang="ko" data-ng-controller="indexController">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="theme-color" content="#6B58A7">
    <meta name="naver-site-verification" content="5a3760839632bf2accaa65c28ee953451801fbbc"/>
    <meta name="description" content="콘서트예매, MD상품을 손쉽게 구매하는 종합몰">
    <meta name="keywords" content="KSTAR, 케이스타, 블록체인, 암호화폐 결제">
    <meta name="author" content="KSTAR">
    <meta property="og:type" content="website">
    <meta property="og:title" content="KSTAR">
    <meta property="og:description" content="KSTAR">
    <meta property="og:url" content="https://www.kstar.tv">

    <title>케이스타｜KSTAR</title>

    <link href="images/common/favi.ico" rel="shortcut icon">
    <link rel="canonical" href="https://www.kstar.tv">
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/sub.css">
    <link rel="stylesheet" href="css/vendor/swiper.css"/>
    <link rel="stylesheet" href="css/vendor/jquery-ui-1.12.1.css"/>

    <script src="constant.js"></script>
</head>
<body data-index>

<!--왼쪽 사이드메뉴-->
<nav class="ui sidebar vertical menu hd-menu">
    <div class="menu-top-quick">
        <a href="" class="menu-home__btn menu-quick__btn" data-menu-move="home">
            <img src="images/icons/home_icon.png" alt="홈으로">
        </a>
        <button class="menu-close__btn menu-quick__btn">
            <img src="images/icons/close_icon.png" alt="닫기">
        </button>
    </div>
    <ul class="menu-lists">
        <li><a class="item" href="" data-menu-move="mypage" data-ng-if="userInfo">마이페이지</a></li>
        <li><a class="item" href="" data-menu-move="cs">고객센터</a></li>
        <li><a class="item" href="" data-menu-move="guide">이용안내</a></li>
        <li><a class="item" href="" data-menu-move="starpay">스타페이카드</a></li>
    </ul>
    <p class="menu__copyright">
        © KSTARPAY Corp.
    </p>
</nav>
<!--왼쪽 사이드메뉴-->

<!--오른쪽 사이드메뉴:로그인전-->
<nav class="ui sidebar right vertical menu hd-member-menu" data-ng-if="!userInfo">
    <div class="menu-top-quick">
        <a href="" class="menu-home__btn menu-quick__btn" data-menu-move="home">
            <img src="images/icons/home_icon.png" alt="홈으로">
        </a>
        <button class="menu-close__btn menu-quick__btn member-menu-close">
            <img src="images/icons/close_icon.png" alt="닫기">
        </button>
    </div>
    <p class="member-menu__description">로그인 하시고 새로운 소식을 만나보세요</p>
    <div class="ui form input-form login">
        <div class="field input-field" data-input-effect>
            <label class="input-label">이메일</label>
            <input type="text" class="input--effect" data-ng-model="signin.username">
        </div>
        <div class="field input-field" data-input-effect>
            <label class="input-label">비밀번호</label>
            <input type="password" class="input--effect" data-ng-model="signin.password">
        </div>
        <input type="submit" value="로그인" class="ui btn full big" data-ng-click="signin()">
    </div>
    <p class="member-menu-quick">
        <a href="">아직 회원이 아니신가요?</a>
        <a href="" class="member-find__btn">ID/PW 찾기</a>
    </p>
</nav>
<!--오른쪽 사이드메뉴:로그인전-->

<!--오른쪽 사이드메뉴:로그인후-->
<nav class="ui sidebar right vertical menu hd-member-menu" data-ng-if="userInfo">
    <div class="menu-top-quick">
        <a href="" class="menu-home__btn menu-quick__btn" data-menu-move="home">
            <img src="images/icons/home_icon.png" alt="홈으로">
        </a>
        <button class="menu-close__btn menu-quick__btn member-menu-close">
            <img src="images/icons/close_icon.png" alt="닫기">
        </button>
    </div>
    <div>
        <span data-ng-bind="userInfo.name"></span>
        <a href="" data-ng-click="singout()">logout</a>
    </div>
    <p class="member-menu__description">
        회원가입
    </p>
    <div class="ui form input-form login">
        <div class="field input-field" data-input-effect>
            <label class="input-label">ID(이메일)</label>
            <input type="text" class="input--effect">
        </div>
        <div class="field input-field" data-input-effect>
            <label class="input-label">비밀번호(8자 이상)</label>
            <input type="password" class="input--effect">
        </div>
        <div class="field input-field" data-input-effect>
            <label class="input-label">비밀번호확인</label>
            <input type="password" class="input--effect">
        </div>
        <input type="submit" value="회원가입" class="ui btn full big">
    </div>
</nav>
<!--오른쪽 사이드메뉴:로그인후-->

<div class="pusher wrap">
    <header class="hd">
        <div class="layout">
            <button class="hd-menu__btn">
                <i></i>
            </button>
            <h1 class="hd__logo">
                <a href="">
                    <img src="images/common/hd_logo.svg" alt="KSTAR" width="113" height="28" onerror="this.onerror=null; this.src='/assets/images/common/hd_logo.png'" class="hd__logo--black">
                </a>
            </h1>
            <div class="hd-lang-member">
                <nav class="hd-lang--mo">
                    <select class="ui dropdown square hd-language" data-dropdown>
                        <option value="ko">KOR</option>
                        <option value="en">ENG</option>
                        <option value="zh">CHN</option>
                        <option value="ja">JPN</option>
                        <option value="es">ESP</option>
                    </select>
                </nav>
                <button class="hd-member__btn">
                    <img src="images/icons/icon_member.png" alt="">
                </button>
            </div>
        </div>
    </header>

    <div data-ui-view></div>

    <footer class="ft">
        <h5 class="ft_title">케이스타페이</h5>
        <ul class="ft_info">
            <li>서울시 강남구 테헤란로 322 한신인터밸리 21층</li>
            <li>사업자번호 : 486-87-00942</li>
            <li>통신판매업신고 : 제2018-서울강남-01003호</li>
            <li>고객센터 1899-3197 평일 09:30 ~18:30</li>
            <li>info@kstargroup.tv</li>
        </ul>
        <ul class="ft_menu">
            <li><a href="">이용약관</a></li>
            <li><a href="">개인정보취급방침</a></li>
            <li><a href="">청소년보호정책</a></li>
            <li>© KSTARPAY Corp</li>
        </ul>
    </footer>
</div>

<!-- 공연상세 시안 -->
<div class="ui large modal modal_detail concert_detail">
    <i class="close-btn"></i>
    <div class="header">제 24회 사랑한다 대한민국 2018 드림콘서트
        <i class="close-btn"></i>
    </div>
    <div class="content scrolling">
        <div class="con_details">
            <img class="con_details__img" src="images/main/slide_img_1.jpg" alt=""/>
            <div class="con_details_info">
                <span>2018년 5월 12일(토) 18:00 <br/> 서울 월드컵 경기장(상암)</span>
                <img class="con_info__img" src="images/main/map_btn_1.png" alt="Map Button"/>
                <button class="con_reserv_btn">예매하기</button>
            </div>
        </div>
    </div>
    <div class="actions">
        <a href="" class="modal_btn btn_off" data-ng-click="step1()">
            <span>다음</span><i class="icon_right"></i>
        </a>
    </div>
</div>

<!-- 인원선택 Step1 -->
<div class="ui large modal reserv-step-1 step_low">
    <div class="header">인원선택<span class="header_line"></span>
        <i class="close-btn"></i>
    </div>
    <div class="content modal_content">
        <p class="modal_title">참석 인원을 선택하세요</p>
        <div class="person_nums modal_select">
            <input type="radio" name="person_nums" value="1" id="Person_nums1"/>
            <label for="Person_nums1" class="select_person_num label_square label_on" checked="checked">1 명</label>
            <input type="radio" name="person_nums" value="2" id="Person_nums2"/>
            <label for="Person_nums2" class="select_person_num label_square">2 명</label>
            <input type="radio" name="person_nums" value="3" id="Person_nums3"/>
            <label for="Person_nums3" class="select_person_num label_square">3 명</label>
        </div>
    </div>
    <div class="actions">
        <a href="" class="modal_btn close-step">
            <img src="images/icons/close_icon.png" alt="X"/>
        </a>
        <a href="" class="modal_btn btn_off" data-ng-click="step2()">
            <span>다음</span><i class="icon_right"></i>
        </a>
    </div>
</div>

<!-- 날짜선택 Step2 -->
<div class="ui large modal reserv-step-2 m_step_low">
    <div class="header">날짜선택<span class="header_line"></span>
        <i class="close-btn"></i>
    </div>
    <div class="content modal_content scrolling">
        <div class="date_select">
            <div class="ui styled accordion">
                <div class="title disabled c_person">
                    <span>인원수</span>
                    <p class="concert_person">2</p>
                </div>
                <div class="content">
                </div>
                <div class="title disabled c_day">
                    <span>공연일</span>
                    <p class="concert_day">2018.04.23/19:00</p>
                    <!--<i class="dropdown icon"></i>-->
                </div>
                <div class="content"></div>
                <div class="ui selection menu title c_seat">
                    <div class="ui simple dropdown item">
                        <span>좌석가격보기</span>
                        <i class="dropdown icon"></i>
                        <div class="menu">
                            <div class="item">
                                <div class="seat_color green"></div>
                                VIP 석<span>150,900<b>STAR</b></span></div>
                            <div class="item">
                                <div class="seat_color yellow"></div>
                                R 석<span>88,900<b>STAR</b></span></div>
                            <div class="item">
                                <div class="seat_color pink"></div>
                                S 석<span>9,900<b>STAR</b></span></div>
                            <div class="item">
                                <div class="seat_color orange"></div>
                                스탠드석<span>9,900<b>STAR</b></span></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="date_select_wrap">
                <div class="select_calendar">
                    <!-- 달력 -->
                    <div class="calendar_ui" data-datepicker></div>
                    <!--달력-->
                </div>
                <div class="select_round">
                    <p>회차를 선택하세요</p>
                    <div class="ui selection dropdown select_round_time" data-dropdown>
                        <input type="hidden" name="gender">
                        <i class="dropdown icon"></i>
                        <div class="default text">회차선택</div>
                        <div class="menu">
                            <div class="item" data-value="0">17:00</div>
                            <div class="item" data-value="1">18:00</div>
                            <div class="item" data-value="2">19:00</div>
                            <div class="item" data-value="3">20:00</div>
                            <div class="item" data-value="4">21:00</div>
                            <div class="item" data-value="5">22:00</div>
                        </div>
                    </div>
                    <p class="selected_date">
                        <img src="images/icons/icon_time.png" alt=""/>2018. 04. 24(수) 19:00
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="actions">
        <a href="" class="modal_btn" data-ng-click="step1()">
            인원다시선택
        </a>
        <a href="" class="modal_btn btn_on" data-ng-click="step3()">
            <span>다음</span><i class="icon_right"></i>
        </a>
    </div>
</div>

<!-- step3 좌석선택 -->
<div class="ui large modal reserv-step-3 m_step_low">
    <div class="header">좌석선택<span class="header_line"></span>
        <i class="close-btn"></i>
    </div>
    <div class="content">
        <div class="seat_select">
            <div class="ui styled accordion">
                <div class="title disabled c_day">
                    <span>공연일</span>
                    <p class="concert_day">2018.04.23/19:00</p>
                    <!--<i class="dropdown icon"></i>-->
                </div>
                <div class="content">
                </div>
                <div class="title disabled c_person">
                    <span>인원수</span>
                    <p class="concert_person">2</p>
                </div>
                <div class="content">
                </div>
                <div class="title c_seat" data-dropdown>
                    <span>좌석가격</span>
                    <p class="concert_payment"><span class="seat_color green"></span>VIP 150,000</p>
                </div>
                <div class="content">
                    <div class="transition hidden seat_class_wrap">
                        <div class="seat_class">
                            <div class="seat_color green"></div>
                            VIP 석<span>150,900<b> STAR</b></span></div>
                        <div class="seat_class">
                            <div class="seat_color yellow"></div>
                            R 석<span>88,900<b> STAR</b></span></div>
                        <div class="seat_class">
                            <div class="seat_color pink"></div>
                            S 석<span>9,900<b> STAR</b></span></div>
                        <div class="seat_class">
                            <div class="seat_color orange"></div>
                            스탠드 석<span>9,900<b> STAR</b></span></div>
                        </p>
                    </div>
                </div>
            </div>
            <div class="concert_pay">
                <div class="concert_pay_wrap">
                    <h3 class="concert_pay_sum">총 2매 19,800 <b>STAR</b><i class="concert_menu_btn c_up"></i></h3>
                    <div class="concert_pay_box">
                        <p>2층 NA구역-14열 10번<span>9,900 STAR</span></p>
                        <p>2층 NA구역-14열 11번<span>9,900 STAR</span></p>
                        <p>2층 NA구역-14열 10번<span>9,900 STAR</span></p>
                        <p>2층 NA구역-14열 11번<span>9,900 STAR</span></p>
                        <p>2층 NA구역-14열 10번<span>9,900 STAR</span></p>
                        <p>2층 NA구역-14열 11번<span>9,900 STAR</span></p>
                    </div>
                </div>
                <div class="actions">
                    <a href="" class="modal_btn" data-ng-click="step1()">
                        인원다시선택
                    </a>
                    <a href="" class="modal_btn btn_on" data-ng-click="step4()">
                        <span>다음</span><i class="icon_right"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="seat_map">
            <div class="seat_map_thumb">
                <img src="images/main/map_ex_1.png" alt=""/>
            </div>
        </div>
        <!--
        <div class="actions">
            <a href="" class="modal_btn">인원다시선택</a>
            <a href="" class="modal_btn btn_off"><span>다음</span><i class="icon_right"></i></a>
        </div>
        -->
    </div>
</div>

<!-- 예매자 동의 Step4 -->
<div class="ui large modal reserv-step-4">
    <i class="close-btn"></i>
    <div class="header">예매자 동의<span class="header_line"></span>
        <i class="close-btn"></i>
    </div>
    <div class="content scrolling modal_content">
        <div class="modal_title title_on">전체동의
            <div class="ui master checkbox">
                <input type="checkbox" name="all_agree">
                <label></label>
            </div>
        </div>
        <div class="reserv_agree modal_box">
            <ul class="reserv_agree_list">
                <li>
                    <h3>예매 및 취소 수수료/취소기한 안내</h3>
                    <p class="agree_box">동일 상품에 대해서 날짜, 시간, 좌석, 가격등급, 결제 둥 일부 변경을 원하시는 경우, 기존 예매 건을 취소 하시고 재예매 하셔야 합니다.<br/>
                        예매 취소는 취소 기한 이내에 “마이페이지 > 예매 내역＂에서 가능합니다. 예매 취소시 결제금액이 반환되며(스타 결제인 경우 스타 환불), 별도의 취소 수수료는 없습니다.<br/>
                        단, 배송 시작 후 취소 시 왕복 배송비는 고객 부담 입니다. 기타 사항은 고객센터(1899-3197)로 문의하여 주시기 바랍니다.
                        <span>
                  ※ 취소기한 : 5월 8일 23시 59분
                </span>
                    </p>
                    <div class="agree_check list">
                        <b>동의합니다
                            <div class="ui child checkbox">
                                <input type="checkbox" name="cancel_agree">
                                <label></label>
                            </div>
                        </b>
                    </div>
                </li>
                <li>
                    <h3>개인정보 제 3자 정보제공</h3>
                    <div class="agree_check list">
                        <div class="ui basic large button agree_detail">상세보기</div>
                        <div class="dotted_line"></div>
                        <b>동의합니다
                            <div class="ui child checkbox">
                                <input type="checkbox" name="third_party_agree">
                                <label></label>
                            </div>
                        </b>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="actions">
        <a href="" class="modal_btn close-step">
            <img src="images/icons/close_icon.png" alt="X"/>
        </a>
        <a href="" class="modal_btn btn_off" data-ng-click="step5()">
            <span>다음</span><i class="icon_right"></i>
        </a>
    </div>
</div>

<!-- 수령방법 선택 step5 -->
<div class="ui large modal reserv-step-5">
    <div class="header">수령방법 선택<span class="header_line"></span>
        <i class="close-btn"></i>
    </div>
    <div class="content scrolling modal_content">
        <div class="ui top attached tabular menu modal_nav">
            <a class="active item" data-tab="faceticket">페이스 티켓</a>
            <a class="item" data-tab="post_info">우편배송</a>
            <a class="item" data-tab="third">현장수령</a>
        </div>
        <div class="ui bottom attached active tab segment tab_face" data-tab="faceticket">
            <p class="seat_remain">잔여석 <span>150석</span></p>
            <div class="ui form input-form r_person_info">
                <h3>예매자 정보 입력</h3>
                <div class="field input-field person_field">
                    <label class="input-label">이름</label>
                    <input class="input--effect" type="text"/>
                </div>
                <div class="field input-field contact_field">
                    <!-- 국가 번호 -->
                    <div class="ui search dropdown country_code">
                        <div class="text item">+82</div>
                        <i class="dropdown icon"></i>
                        <div class="menu">
                            <div class="item" data-country="Korea">+82</div>
                            <div class="item" data-country="China">+86</div>
                            <div class="item" data-country="America&Canada">+1</div>
                            <div class="item" data-country="Japan">+81</div>
                            <div class="item" data-country="Spain">+34</div>
                            <div class="item" data-country="Hongkong">+852</div>
                        </div>
                    </div>
                    <label class="input-label">연락처</label>
                    <input class="reserv_contact input--effect" type="text">
                </div>
            </div>
            <div class="faceticket_info">
                <div class="f_info_txt">
                    <h3>페이스티켓이란?</h3>
                    <p>페이스 티켓이란 현장에서 번거로운 지류티켓 확인 절차 없이 얼굴 인식만으로 본인임을 인증하여 입장할 수 있는 서비스입니다.</p>
                </div>
                <div class="swiper-container faceticket_slide">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="images/main/my_ticket_img.png" alt=""/>
                            <p>KSTAR 티켓몰에서<br/>
                                콘서트 티켓 예매 후</p>
                            <img class="slide_arrow" src="images/main/circle_arrow.png" alt=""/>
                        </div>
                        <div class="swiper-slide">
                            <img src="images/main/my_photo_img.png" alt=""/>
                            <p>본인 사진을 등록!</p>
                        </div>
                        <div class="swiper-slide">
                            <img src="images/main/my_face_img.png" alt=""/>
                            <p>티켓 챙길 필요 NO!<br/>
                                얼굴 인증으로 입장 OK!</p>
                            <img class="slide_arrow" src="images/main/circle_arrow.png" alt=""/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui bottom attached tab segment tab_face tab_post" data-tab="post_info">
            <p class="post_notice">※ 우편 배송 선택 시 배송비 2,500원이 추가 결제 됩니다.</p>
            <div class="ui form input-form r_person_info">
                <h3>배송지 정보 입력</h3>
                <div class="field input-field person_field">
                    <label class="input-label">이름</label>
                    <input class="input--effect" type="text"/>
                </div>
                <div class="field input-field contact_field">
                    <!-- 국가 번호 -->
                    <div class="ui search dropdown country_code">
                        <div class="text item">+82</div>
                        <i class="dropdown icon"></i>
                        <div class="menu">
                            <div class="item" data-country="Korea">+82</div>
                            <div class="item" data-country="China">+86</div>
                            <div class="item" data-country="America&Canada">+1</div>
                            <div class="item" data-country="Japan">+81</div>
                            <div class="item" data-country="Spain">+34</div>
                            <div class="item" data-country="Hongkong">+852</div>
                        </div>
                    </div>
                    <label class="input-label">연락처</label>
                    <input class="reserv_contact input--effect" type="text">
                </div>
                <b class="tab_checkbox">개인정보를 위 내용으로 업데이트합니다
                    <div class="ui child checkbox">
                        <label></label>
                        <input type="checkbox" name="cancel_agree">
                    </div>
                </b>
            </div>
            <div class="ui form input-form post_address">
                <div class="field input-field address_field">
                    <label class="input-label">주소</label>
                    <input class="input--effect" type="text"/>
                    <div class="ui basic large button postal_code">우편번호</div>
                </div>
                <div class="field input-field address_field_1">
                    <label class="input-label">부산 광역시 동래구 명장동</label>
                    <input type="text"/>
                </div>
                <div class="field input-field address_field_2">
                    <label class="input-label">협진태양 아파트 B동 305호</label>
                    <input type="text"/>
                </div>
            </div>
        </div>
        <div class="ui bottom attached tab segment" data-tab="third">
            Second
        </div>
    </div>
    <div class="actions">
        <a href="" class="modal_btn close-step">
            <img src="images/icons/close_icon.png" alt="X"/>
        </a>
        <a href="" class="modal_btn btn_off" data-ng-click="step6()">
            <span>다음</span><i class="icon_right"></i>
        </a>
    </div>
</div>

<!-- 결제하기 step6 -->
<div class="ui large modal reserv-step-6">
    <div class="header">결제하기<span class="header_line"></span>
        <i class="close-btn"></i>
    </div>
    <div class="content scrolling modal_content">
        <h3 class="modal_box_title">예매 공연정보</h3>
        <div class="reserv_c_info modal_box">
            <ul class="reserv_c_info_list">
                <li><p>공연명</p> <span class="reserv_bold">사랑한다 대한민국 2018 드림콘서트</span></li>
                <li><p>공연장</p> <span>서울 월드컵 경기장(상암)</span></li>
                <li><p>관람일시</p> <span>2018.05.12 18:00</span></li>
            </ul>
        </div>
        <h3 class="modal_box_title">결제금액</h3>
        <div class="reserv_c_info modal_box">
            <ul class="reserv_c_info_list list_horiz">
                <li>
                    <p>좌석정보</p>
                    <span>
                <i>2층 NA구역-14열 10번<span>9,900 STAR</span></i>
                <i>2층 NA구역-14열 10번<span>9,900 STAR</span></i>
                <i>2층 NA구역-14열 10번<span>9,900 STAR</span></i>
                <i>2층 NA구역-14열 10번<span>9,900 STAR</span></i>
                <i>2층 NA구역-14열 10번<span>9,900 STAR</span></i>
              </span>
                </li>
            </ul>
        </div>
        <div class="modal_sum_border"></div>
        <p class="modal_sum">총 2매<span>19,800 STAR</span></p>
        <div class="payment_wrap">
            <div class="payment_box">
                <div class="payment_list modal_mystar">보유 STAR
                    <div class="ui basic inline button star_charge_btn">STAR 충전</div>
                    <span>20,000</span></div>
                <p class="payment_list modal_shortage">부족한 STAR<span>0</span></p>
                <p class="payment_list modal_balance">결제 후 잔액<span>200</span></p>
            </div>
            <div class="payment_btn_box">
                <p class="modal_alert">* 1 STAR = 1 KRW</p>
                <div class="payment_btn ui basic fluid button">
                    스타 결제하기
                </div>
            </div>
        </div>
    </div>
    <div class="actions">
        <a href="" class="modal_btn close-step">
            <img src="images/icons/close_icon.png" alt="X"/>
        </a>
        <a href="" class="modal_btn btn_off" data-ng-click="step7()">
            <span>다음</span><i class="icon_right"></i>
        </a>
    </div>
</div>

<!-- 예매 완료 Step7 -->
<div class="ui large modal reserv-step-7 m_step_low">
    <div class="header">예매완료<span class="header_line"></span>
        <i class="close-btn"></i>
    </div>
    <div class="content scrolling modal_content">
        <img src="images/main/check_icon.png" alt="complete"/>
        <p class="modal_title title_on">예매가 완료되었습니다.</p>
        <div class="reserv_c_info modal_box">
            <ul class="reserv_c_info_list">
                <li><p>예매번호</p> <span class="reserv_bold">0180412-A121212-11</span></li>
                <li><p>공연명</p> <span>사랑한다 대한민국 2018 드림콘서트</span></li>
                <li><p>날짜</p> <span>2018-5-12 18:00</span></li>
                <li><p>좌석</p> <span>2층 NA구역-14열 10번<br/>2층 NA구역-14열 11번</span></li>
                <li><p>결제금액</p> <span>총2매 19,800STAR</span></li>
            </ul>
        </div>
    </div>
    <div class="actions">
        <a href="" class="modal_btn close-step" data-ui-sref="mypage">
            마이페이지
        </a>
        <a href="" class="modal_btn close-step" data-ui-sref="home">
            <img class="icon_left" src="images/icons/home_icon.png"/>홈으로
        </a>
    </div>
</div>

<script src="components/requirejs/require.js" data-main="js/main.js"></script>

</body>
</html>
